@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
.text-color {
  color: #1D2939;
}

.bg-cl-green {
  background-color: #2BCA89;
}

.menu-hover:hover {
  color: #2BCA89;
  border-bottom: #2BCA89 solid 2px;
}
#root {
  height: 100%;
}

.grid-cols-3-9 {
  grid-template-columns: minmax(0, 3fr) minmax(0, 9fr);
}

.menu-item {
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  text-decoration: none;
  display:inline-block;
  /* background-color: red; */
  margin-right: 25px;
  color:rgba(10, 16, 72, 0.9);
}



* {
  text-decoration: none;
}

.bg-color-icon {
 background-color:  #5BD3A3;
}


.bg-color-main {
  background-color: #fcfcfc;
}
.text-color {
  color: rgba(10, 16, 72, 0.9);
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.bg-color {
 /* background-color: rgb(246,254,249); */
 background: linear-gradient(90.26deg, rgba(207, 225, 217, 0.18) -0.04%, rgba(219, 255, 238, 0.06) 28.81%, rgba(227, 253, 235, 0.27) 64.08%, rgba(158, 249, 189, 0.06) 95.91%);
 border: 1px solid #FFFFFF;
}
