@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.font-roboto {
    font-family: 'Roboto', sans-serif;
}
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
.text-color {
  color: #1D2939;
}

.bg-cl-green {
  background-color: #2BCA89;
}

.line-hidden .recharts-xAxis, .line-hidden .recharts-cartesian-axis-line, .line-hidden
.recharts-cartesian-axis-tick-line,.line-hidden .recharts-cartesian-grid-horizontal, .line-hidden
.recharts-cartesian-grid-vertical,.line-hidden .recharts-line-dot {
  display: none;
}

.table .form-control {
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 1.4;
    color: #475f7b;
    background-color: #fff;
    border: 1px solid #dfe3e7;
    border-radius: 0.267rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.table .form-control:focus {
    color: #475f7b;
    background-color: #fff;
    border-color: #5a8dee;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}
.table .card {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
}
.table .pagination-data{
  padding: 0;
  margin: 0;
}
.table .pagination-data li{
  list-style:none;
}
.table .table-filter-info{
  padding : 15px;
}
.table .thead-primary tr th {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #fff;
}

.table .rc-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rc-pagination-item,
.rc-pagination-prev, 
.rc-pagination-jump-prev, 
.rc-pagination-jump-next {
    margin-right: 8px;
}

.rc-pagination-total-text{
  margin-right: 12px;
  cursor: initial;
}

.rc-pagination-jump-next, 
.rc-pagination-jump-prev, 
.rc-pagination-next, 
.rc-pagination-prev {
    display: inline-block;
    min-width: 28px;
    height: 28px;
    color: rgba(0,0,0,.85);
    font-family: Arial;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;
}
.rc-pagination-jump-next button, 
.rc-pagination-jump-prev button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
}
.rc-pagination-jump-next button:after, 
.rc-pagination-jump-prev button:after {
    display: block;
    content: "•••";
}
.rc-pagination-item, 
.rc-pagination-prev, 
.rc-pagination-next, 
.rc-pagination-total-text {
    min-width: initial;
    height: auto;
    line-height: initial;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.rc-pagination-item a, 
.rc-pagination-item button, 
.rc-pagination-prev a, 
.rc-pagination-prev button, 
.rc-pagination-next a, 
.rc-pagination-next button,
.rc-pagination-total-text a, 
.rc-pagination-total-text button {
    padding: 6px 8px;
    height: auto;
    min-width: 32px;
    min-height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #656f84 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a, 
.rc-pagination-item.rc-pagination-item-active a:hover, 
.rc-pagination-prev.rc-pagination-item-active a, 
.rc-pagination-prev.rc-pagination-item-active a:hover, 
.rc-pagination-next.rc-pagination-item-active a, 
.rc-pagination-next.rc-pagination-item-active a:hover, 
.rc-pagination-total-text.rc-pagination-item-active a, 
.rc-pagination-total-text.rc-pagination-item-active a:hover {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #ffffff !important;
}
.rc-pagination-item a:hover, 
.rc-pagination-item button:hover, 
.rc-pagination-prev a:hover, 
.rc-pagination-prev button:hover, 
.rc-pagination-next a:hover, 
.rc-pagination-next button:hover, 
.rc-pagination-total-text a:hover, 
.rc-pagination-total-text button:hover {
    background-color: #eceff5;
    border-color: #eceff5;
}

.charts-box {
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 16px;
}

.charts-box .title {
    top: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    padding: 10px;
}
.menu-hover:hover {
  color: #2BCA89;
  border-bottom: #2BCA89 solid 2px;
}
.active-item {
  color: #2BCA89;
  border-bottom: #2BCA89 solid 2px;
}
#root {
  height: 100%;
}

.menu-item {
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    text-decoration: none;
    display:inline-block;
    /* background-color: red; */
    margin-right: 25px;
    color:rgba(10, 16, 72, 0.9);
}

* {
    text-decoration: none;
}

.bg-color-icon {
   background-color:  #5BD3A3;
}

.shadow-wt {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.bg-color-main {
    background-color: #fcfcfc;
}
.text-color {
    color: rgba(10, 16, 72, 0.9);
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.bg-color-wf {
   background-color: #faf9ff;
}


.bg-color {
   /* background-color: rgb(246,254,249); */
   background: linear-gradient(90.26deg, rgba(207, 225, 217, 0.18) -0.04%, rgba(219, 255, 238, 0.06) 28.81%, rgba(227, 253, 235, 0.27) 64.08%, rgba(158, 249, 189, 0.06) 95.91%);
   border: 1px solid #FFFFFF;
}

.bg-green-button {
    background-color: #20D088;
}

.bg-font-color {  
    color: #00BF71;
}
.vongtrontam1 {
    box-sizing: border-box;

    position: fixed;
    width:  330px;
    height: 330px;
    left: -54px;
    top: -197px;
    /* position: relative; */

    border: 2.5px solid rgba(159, 230, 199, 0.8);
    border-radius: 50%;
}


 .vongtrontam2 {
    box-sizing: border-box;
    position: fixed;
    width:  330px;
    height: 330px;
    left: -101px;
    top: -162px;
    /* position: absolute; */

    border: 2.5px solid rgba(159, 230, 199, 0.8);
    border-radius: 50%;
}

.leading-11 {
    line-height:55px;
}

.box-shadow-button {
    box-shadow: 0px 4.09149px 14.3202px rgba(50, 225, 154, 0.61);
}

.round-icon {
    width: 59.33px;
    height: 57.28px;
    transform: rotate(-0.17deg);
    background: #D8F2E8;
}

.icon {
    color: #5BD3A3;
    transform: rotate(-0.17deg);
}

.bg-color-hidden {
    background: rgba(142, 255, 209, 0.07);

}


.h-main-welcome {
    height: 700px;
}

.bg-color-main {
    color: #fbfbfb;
}

.text-main-green {
    color: #00BF71;
}

.text-main-linear {
    background: -webkit-linear-gradient(rgba(57, 109, 244, 0.63),rgba(98, 252, 225, 0.83));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-main-green {
    background-color: #00BF71;
}

.bg-main-red {
    background-color: #F04438;
}

.font-inters{
    font-family: 'Inter','Times New Roman', Times, serif;
}


.main-second-color {
    color: #002966;
}

bg-side-color {
    background-color: #2BCA89;
}

.footer-color {
    color: #2BCA89;
}

.bg-main-picture {
    background-color: rgb(230,249,241);
}

.bg-main-button-picture {
    background-color: #2BCA89;
}

.bg-side-color-ww {
    color: #BFC3C8;
}

.font-side-color-2 {
    color:#1D2939;
}

.font-side-color {
    color:#00BF71;
}

.font-side-color2 {
    color:#0047B3;
}

.font-side-color-w {
    color: #9fa5b3;
}

.font-side-color-wt {
    color: #D0D5DD;
}

.font-side-color-wt2 {
    color: #344054;
}
.text-ssm {
    font-size: 8px;
    line-height: 20px;
}

.shadow-left {
    box-shadow: -1.50848px 6.03392px 12.0678px rgba(0, 191, 113, 0.28);
}
.shadow-middle {
    box-shadow: 0px 6.03392px 19.6102px rgba(10, 16, 72, 0.23);
}
.font-blue-color-wt{
    color: #0065FF;
}

.shadow-wt {
    box-shadow: 0px 3.29697px 3.29697px rgba(0, 0, 0, 0.05);
border-radius: 3.29697px;
}

.bg-gray-wt {
    background-color:  rgba(217, 217, 217, 0.15);;
}